body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(219,219,219,1) 0%, rgba(180,255,188,1) 100%);
    min-height: 100vh; /* Ensure at least 100% viewport height */
    display: flex;
    flex-direction: column;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header, section, footer {
   
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff; /* White Background */
}

.removelink {
    color: inherit;
}


nav {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #505050; /* White Background */
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2 {
    color: #006400; /* Dark Green */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 15px;
}

a {
    text-decoration: none;
    color: #80d880; /* Dark Green */
}

a:hover {
    text-decoration: underline;
}

.main-content {
    flex-grow: 1; /* Expand to fill remaining space */
    margin-bottom: 150px;
}

footer {
    text-align: center;
    background-color: #333; /* Dark Gray Background */
    color: #fff; /* White Text Color */
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.retoof {
    text-align: center;
    background-color: #333; /* Dark Gray Background */
    color: #fff; /* White Text Color */
    padding: 10px 0;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    flex-basis: 45%; /* Adjust the width of the columns */
}

.footer-column ul {
    padding: 0;
    margin: 0;
}

.footer-column li {
    list-style-type: none;
    margin-bottom: 5px;
}

.zoom {
  transition: transform .15s;
}

.zoom:hover {
  transform: scale(1.5); 
}
